<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category id="general" label="30011">
		<setting id="url" 		type="text" 	label="30024" visible="true" default="" />
		<setting id="login" 	type="text" 	label="30020" visible="true" default="" />
		<setting id="password" 	type="text" 	label="30029" visible="true" default="" option="hidden" />
		<setting id="favonly" 	type="bool" 	label="30030" visible="true" default="false" />
		<setting id="debug" 	type="bool"		label="30031" visible="true" default="false" />
	</category>
</settings>
